.swal2-container .btn {
  display: inline-block !important;
  font-weight: normal !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem 0.75rem !important;
  font-size: 18px !important;
  line-height: 1.25 !important;
  border-radius: 8px !important;
  transition: all 0.15s ease-in-out !important;
}
.swal2-container .btn:focus,
.swal2-container .btn:hover {
  text-decoration: none !important;
}
.swal2-container .btn:focus,
.swal2-container .btn.focus {
  outline: 0 !important;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25) !important;
}
.swal2-container .btn.disabled,
.swal2-container .btn:disabled {
  opacity: 0.65 !important;
}
.swal2-container .btn:active,
.swal2-container .btn.active {
  background-image: none !important;
}
.swal2-container a.btn.disabled,
.swal2-container fieldset[disabled] a.btn {
  pointer-events: none !important;
}
.swal2-container .btn-primary {
  color: #fff !important;
  background: #007bff !important;
  border-color: #007bff !important;
}
.swal2-container .btn-primary:hover {
  color: #fff !important;
  background: #0069d9 !important;
  border-color: #0062cc !important;
}
.swal2-container .btn-primary:focus,
.swal2-container .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important;
}
.swal2-container .btn-primary.disabled,
.swal2-container .btn-primary:disabled {
  background: #007bff !important;
  border-color: #007bff !important;
}
.swal2-container .btn-primary:active,
.swal2-container .btn-primary.active,
.swal2-container .show > .btn-primary.dropdown-toggle {
  background: #0069d9 !important;
  background-image: none !important;
  border-color: #0062cc !important;
}
.swal2-container .btn-secondary {
  color: #fff !important;
  background: #868e96 !important;
  border-color: #868e96 !important;
}
.swal2-container .btn-secondary:hover {
  color: #fff !important;
  background: #727b84 !important;
  border-color: #6c757d !important;
}
.swal2-container .btn-secondary:focus,
.swal2-container .btn-secondary.focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5) !important;
}
.swal2-container .btn-secondary.disabled,
.swal2-container .btn-secondary:disabled {
  background: #868e96 !important;
  border-color: #868e96 !important;
}
.swal2-container .btn-secondary:active,
.swal2-container .btn-secondary.active,
.swal2-container .show > .btn-secondary.dropdown-toggle {
  background: #727b84 !important;
  background-image: none !important;
  border-color: #6c757d !important;
}
.swal2-container .btn-success {
  color: #fff !important;
  background: #28a745 !important;
  border-color: #28a745 !important;
}
.swal2-container .btn-success:hover {
  color: #fff !important;
  background: #218838 !important;
  border-color: #1e7e34 !important;
}
.swal2-container .btn-success:focus,
.swal2-container .btn-success.focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5) !important;
}
.swal2-container .btn-success.disabled,
.swal2-container .btn-success:disabled {
  background: #28a745 !important;
  border-color: #28a745 !important;
}
.swal2-container .btn-success:active,
.swal2-container .btn-success.active,
.swal2-container .show > .btn-success.dropdown-toggle {
  background: #218838 !important;
  background-image: none !important;
  border-color: #1e7e34 !important;
}
.swal2-container .btn-info {
  color: #fff !important;
  background: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.swal2-container .btn-info:hover {
  color: #fff !important;
  background: #138496 !important;
  border-color: #117a8b !important;
}
.swal2-container .btn-info:focus,
.swal2-container .btn-info.focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.5) !important;
}
.swal2-container .btn-info.disabled,
.swal2-container .btn-info:disabled {
  background: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.swal2-container .btn-info:active,
.swal2-container .btn-info.active,
.swal2-container .show > .btn-info.dropdown-toggle {
  background: #138496 !important;
  background-image: none !important;
  border-color: #117a8b !important;
}
.swal2-container .btn-warning {
  color: #111 !important;
  background: #ffc107 !important;
  border-color: #ffc107 !important;
}
.swal2-container .btn-warning:hover {
  color: #111 !important;
  background: #e0a800 !important;
  border-color: #d39e00 !important;
}
.swal2-container .btn-warning:focus,
.swal2-container .btn-warning.focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5) !important;
}
.swal2-container .btn-warning.disabled,
.swal2-container .btn-warning:disabled {
  background: #ffc107 !important;
  border-color: #ffc107 !important;
}
.swal2-container .btn-warning:active,
.swal2-container .btn-warning.active,
.swal2-container .show > .btn-warning.dropdown-toggle {
  background: #e0a800 !important;
  background-image: none !important;
  border-color: #d39e00 !important;
}
.swal2-container .btn-danger {
  color: #fff !important;
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}
.swal2-container .btn-danger:hover {
  color: #fff !important;
  background: #c82333 !important;
  border-color: #bd2130 !important;
}
.swal2-container .btn-danger:focus,
.swal2-container .btn-danger.focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5) !important;
}
.swal2-container .btn-danger.disabled,
.swal2-container .btn-danger:disabled {
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}
.swal2-container .btn-danger:active,
.swal2-container .btn-danger.active,
.swal2-container .show > .btn-danger.dropdown-toggle {
  background: #c82333 !important;
  background-image: none !important;
  border-color: #bd2130 !important;
}
.swal2-container .btn-light {
  color: #111 !important;
  background: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.swal2-container .btn-light:hover {
  color: #111 !important;
  background: #e2e6ea !important;
  border-color: #dae0e5 !important;
}
.swal2-container .btn-light:focus,
.swal2-container .btn-light.focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5) !important;
}
.swal2-container .btn-light.disabled,
.swal2-container .btn-light:disabled {
  background: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.swal2-container .btn-light:active,
.swal2-container .btn-light.active,
.swal2-container .show > .btn-light.dropdown-toggle {
  background: #e2e6ea !important;
  background-image: none !important;
  border-color: #dae0e5 !important;
}
.swal2-container .btn-dark {
  color: #fff !important;
  background: #343a40 !important;
  border-color: #343a40 !important;
}
.swal2-container .btn-dark:hover {
  color: #fff !important;
  background: #23272b !important;
  border-color: #1d2124 !important;
}
.swal2-container .btn-dark:focus,
.swal2-container .btn-dark.focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.5) !important;
}
.swal2-container .btn-dark.disabled,
.swal2-container .btn-dark:disabled {
  background: #343a40 !important;
  border-color: #343a40 !important;
}
.swal2-container .btn-dark:active,
.swal2-container .btn-dark.active,
.swal2-container .show > .btn-dark.dropdown-toggle {
  background: #23272b !important;
  background-image: none !important;
  border-color: #1d2124 !important;
}
.swal2-container .btn-outline-primary {
  color: #007bff !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #007bff !important;
}
.swal2-container .btn-outline-primary:hover {
  color: #fff !important;
  background: #007bff !important;
  border-color: #007bff !important;
}
.swal2-container .btn-outline-primary:focus,
.swal2-container .btn-outline-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important;
}
.swal2-container .btn-outline-primary.disabled,
.swal2-container .btn-outline-primary:disabled {
  color: #007bff !important;
  background: transparent !important;
}
.swal2-container .btn-outline-primary:active,
.swal2-container .btn-outline-primary.active,
.swal2-container .show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background: #007bff !important;
  border-color: #007bff !important;
}
.swal2-container .btn-outline-secondary {
  color: #868e96 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #868e96 !important;
}
.swal2-container .btn-outline-secondary:hover {
  color: #fff !important;
  background: #868e96 !important;
  border-color: #868e96 !important;
}
.swal2-container .btn-outline-secondary:focus,
.swal2-container .btn-outline-secondary.focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5) !important;
}
.swal2-container .btn-outline-secondary.disabled,
.swal2-container .btn-outline-secondary:disabled {
  color: #868e96 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-secondary:active,
.swal2-container .btn-outline-secondary.active,
.swal2-container .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff !important;
  background: #868e96 !important;
  border-color: #868e96 !important;
}
.swal2-container .btn-outline-success {
  color: #28a745 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #28a745 !important;
}
.swal2-container .btn-outline-success:hover {
  color: #fff !important;
  background: #28a745 !important;
  border-color: #28a745 !important;
}
.swal2-container .btn-outline-success:focus,
.swal2-container .btn-outline-success.focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5) !important;
}
.swal2-container .btn-outline-success.disabled,
.swal2-container .btn-outline-success:disabled {
  color: #28a745 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-success:active,
.swal2-container .btn-outline-success.active,
.swal2-container .show > .btn-outline-success.dropdown-toggle {
  color: #fff !important;
  background: #28a745 !important;
  border-color: #28a745 !important;
}
.swal2-container .btn-outline-info {
  color: #17a2b8 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #17a2b8 !important;
}
.swal2-container .btn-outline-info:hover {
  color: #fff !important;
  background: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.swal2-container .btn-outline-info:focus,
.swal2-container .btn-outline-info.focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.5) !important;
}
.swal2-container .btn-outline-info.disabled,
.swal2-container .btn-outline-info:disabled {
  color: #17a2b8 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-info:active,
.swal2-container .btn-outline-info.active,
.swal2-container .show > .btn-outline-info.dropdown-toggle {
  color: #fff !important;
  background: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.swal2-container .btn-outline-warning {
  color: #ffc107 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #ffc107 !important;
}
.swal2-container .btn-outline-warning:hover {
  color: #fff !important;
  background: #ffc107 !important;
  border-color: #ffc107 !important;
}
.swal2-container .btn-outline-warning:focus,
.swal2-container .btn-outline-warning.focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5) !important;
}
.swal2-container .btn-outline-warning.disabled,
.swal2-container .btn-outline-warning:disabled {
  color: #ffc107 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-warning:active,
.swal2-container .btn-outline-warning.active,
.swal2-container .show > .btn-outline-warning.dropdown-toggle {
  color: #fff !important;
  background: #ffc107 !important;
  border-color: #ffc107 !important;
}
.swal2-container .btn-outline-danger {
  color: #dc3545 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #dc3545 !important;
}
.swal2-container .btn-outline-danger:hover {
  color: #fff !important;
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}
.swal2-container .btn-outline-danger:focus,
.swal2-container .btn-outline-danger.focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5) !important;
}
.swal2-container .btn-outline-danger.disabled,
.swal2-container .btn-outline-danger:disabled {
  color: #dc3545 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-danger:active,
.swal2-container .btn-outline-danger.active,
.swal2-container .show > .btn-outline-danger.dropdown-toggle {
  color: #fff !important;
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}
.swal2-container .btn-outline-light {
  color: #f8f9fa !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #f8f9fa !important;
}
.swal2-container .btn-outline-light:hover {
  color: #fff !important;
  background: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.swal2-container .btn-outline-light:focus,
.swal2-container .btn-outline-light.focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5) !important;
}
.swal2-container .btn-outline-light.disabled,
.swal2-container .btn-outline-light:disabled {
  color: #f8f9fa !important;
  background: transparent !important;
}
.swal2-container .btn-outline-light:active,
.swal2-container .btn-outline-light.active,
.swal2-container .show > .btn-outline-light.dropdown-toggle {
  color: #fff !important;
  background: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.swal2-container .btn-outline-dark {
  color: #343a40 !important;
  background: transparent !important;
  background-image: none !important;
  border-color: #343a40 !important;
}
.swal2-container .btn-outline-dark:hover {
  color: #fff !important;
  background: #343a40 !important;
  border-color: #343a40 !important;
}
.swal2-container .btn-outline-dark:focus,
.swal2-container .btn-outline-dark.focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.5) !important;
}
.swal2-container .btn-outline-dark.disabled,
.swal2-container .btn-outline-dark:disabled {
  color: #343a40 !important;
  background: transparent !important;
}
.swal2-container .btn-outline-dark:active,
.swal2-container .btn-outline-dark.active,
.swal2-container .show > .btn-outline-dark.dropdown-toggle {
  color: #fff !important;
  background: #343a40 !important;
  border-color: #343a40 !important;
}
.swal2-container .btn-link {
  font-weight: normal !important;
  color: #007bff !important;
  border-radius: 0 !important;
}
.swal2-container .btn-link,
.swal2-container .btn-link:active,
.swal2-container .btn-link.active,
.swal2-container .btn-link:disabled {
  background: transparent !important;
}
.swal2-container .btn-link,
.swal2-container .btn-link:focus,
.swal2-container .btn-link:active {
  border-color: transparent !important;
  box-shadow: none !important;
}
.swal2-container .btn-link:hover {
  border-color: transparent !important;
}
.swal2-container .btn-link:focus,
.swal2-container .btn-link:hover {
  color: #0056b3 !important;
  text-decoration: underline !important;
  background: transparent !important;
}
.swal2-container .btn-link:disabled {
  color: #868e96 !important;
}
.swal2-container .btn-link:disabled:focus,
.swal2-container .btn-link:disabled:hover {
  text-decoration: none !important;
}
.swal2-container .btn-lg,
.swal2-container .btn-group-lg > .btn {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
}
.swal2-container .btn-sm,
.swal2-container .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}
.swal2-container .btn-block {
  display: block !important;
  width: 100% !important;
}
.swal2-container .btn-block + .btn-block {
  margin-top: 0.5rem !important;
}
.swal2-container input[type='submit'].btn-block,
.swal2-container input[type='reset'].btn-block,
.swal2-container input[type='button'].btn-block {
  width: 100% !important;
}
.swal2-container .fade {
  opacity: 0 !important;
  transition: opacity 0.15s linear !important;
}
.swal2-container .fade.show {
  opacity: 1 !important;
}
.swal2-container .collapse {
  display: none !important;
}
.swal2-container .collapse.show {
  display: block !important;
}
.swal2-container tr.collapse.show {
  display: table-row !important;
}
.swal2-container tbody.collapse.show {
  display: table-row-group !important;
}
.swal2-container .collapsing {
  position: relative !important;
  height: 0 !important;
  overflow: hidden !important;
  transition: height 0.35s ease !important;
}
.swal2-container .dropup,
.swal2-container .dropdown {
  position: relative !important;
}
.swal2-container .dropdown-toggle::after {
  display: inline-block !important;
  width: 0 !important;
  height: 0 !important;
  margin-left: 0.255em !important;
  vertical-align: 0.255em !important;
  content: '' !important;
  border-top: 0.3em solid !important;
  border-right: 0.3em solid transparent !important;
  border-left: 0.3em solid transparent !important;
}
.swal2-container .dropdown-toggle:empty::after {
  margin-left: 0 !important;
}
.swal2-container .dropup .dropdown-menu {
  margin-top: 0 !important;
  margin-bottom: 0.125rem !important;
}
.swal2-container .dropup .dropdown-toggle::after {
  border-top: 0 !important;
  border-bottom: 0.3em solid !important;
}
.swal2-container .dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  z-index: 1000 !important;
  display: none !important;
  float: left !important;
  min-width: 10rem !important;
  padding: 0.5rem 0 !important;
  margin: 0.125rem 0 0 !important;
  font-size: 1rem !important;
  color: #212529 !important;
  text-align: left !important;
  list-style: none !important;
  background: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
}
.swal2-container .dropdown-divider {
  height: 0 !important;
  margin: 0.5rem 0 !important;
  overflow: hidden !important;
  border-top: 1px solid #e9ecef !important;
}
.swal2-container .dropdown-item {
  display: block !important;
  width: 100% !important;
  padding: 0.25rem 1.5rem !important;
  clear: both !important;
  font-weight: normal !important;
  color: #212529 !important;
  text-align: inherit !important;
  white-space: nowrap !important;
  background: none !important;
  border: 0 !important;
}
.swal2-container .dropdown-item:focus,
.swal2-container .dropdown-item:hover {
  color: #16181b !important;
  text-decoration: none !important;
  background: #f8f9fa !important;
}
.swal2-container .dropdown-item.active,
.swal2-container .dropdown-item:active {
  color: #fff !important;
  text-decoration: none !important;
  background: #007bff !important;
}
.swal2-container .dropdown-item.disabled,
.swal2-container .dropdown-item:disabled {
  color: #868e96 !important;
  background: transparent !important;
}
.swal2-container .show > a {
  outline: 0 !important;
}
.swal2-container .dropdown-menu.show {
  display: block !important;
}
.swal2-container .dropdown-header {
  display: block !important;
  padding: 0.5rem 1.5rem !important;
  margin-bottom: 0 !important;
  font-size: 0.875rem !important;
  color: #868e96 !important;
  white-space: nowrap !important;
}
.swal2-container .btn-group,
.swal2-container .btn-group-vertical {
  position: relative !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  vertical-align: middle !important;
}
.swal2-container .btn-group > .btn,
.swal2-container .btn-group-vertical > .btn {
  position: relative !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  margin-bottom: 0 !important;
}
.swal2-container .btn-group > .btn:hover,
.swal2-container .btn-group-vertical > .btn:hover {
  z-index: 2 !important;
}
.swal2-container .btn-group > .btn:focus,
.swal2-container .btn-group > .btn:active,
.swal2-container .btn-group > .btn.active,
.swal2-container .btn-group-vertical > .btn:focus,
.swal2-container .btn-group-vertical > .btn:active,
.swal2-container .btn-group-vertical > .btn.active {
  z-index: 2 !important;
}
.swal2-container .btn-group .btn + .btn,
.swal2-container .btn-group .btn + .btn-group,
.swal2-container .btn-group .btn-group + .btn,
.swal2-container .btn-group .btn-group + .btn-group,
.swal2-container .btn-group-vertical .btn + .btn,
.swal2-container .btn-group-vertical .btn + .btn-group,
.swal2-container .btn-group-vertical .btn-group + .btn,
.swal2-container .btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px !important;
}
.swal2-container .btn-toolbar {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.swal2-container .btn-toolbar .input-group {
  width: auto !important;
}
.swal2-container
  .btn-group
  > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 !important;
}
.swal2-container .btn-group > .btn:first-child {
  margin-left: 0 !important;
}
.swal2-container
  .btn-group
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.swal2-container .btn-group > .btn:last-child:not(:first-child),
.swal2-container .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.swal2-container .btn-group > .btn-group {
  float: left !important;
}
.swal2-container
  .btn-group
  > .btn-group:not(:first-child):not(:last-child)
  > .btn {
  border-radius: 0 !important;
}
.swal2-container
  .btn-group
  > .btn-group:first-child:not(:last-child)
  > .btn:last-child,
.swal2-container
  .btn-group
  > .btn-group:first-child:not(:last-child)
  > .dropdown-toggle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.swal2-container
  .btn-group
  > .btn-group:last-child:not(:first-child)
  > .btn:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.swal2-container .btn + .dropdown-toggle-split {
  padding-right: 0.5625rem !important;
  padding-left: 0.5625rem !important;
}
.swal2-container .btn + .dropdown-toggle-split::after {
  margin-left: 0 !important;
}
.swal2-container .btn-sm + .dropdown-toggle-split,
.swal2-container .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem !important;
  padding-left: 0.375rem !important;
}
.swal2-container .btn-lg + .dropdown-toggle-split,
.swal2-container .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}
.swal2-container .swal2-popup {
  width: 700px !important;
  height: 500px !important;
  font: normal 16px serif !important;
  line-height: 34px !important;
}
.swal2-container .swal2-popup h2 {
  font: bold 36px serif !important;
}
.swal2-container .swal2-icon-text {
  color: inherit !important;
  font: normal 56px serif !important;
}
.swal2-container .swal2-actions .btn {
  min-width: 160px !important;
  height: 46px !important;
}

*:focus {
  outline: none !important;
}
* {
  outline: none !important;
}

#btnAnalysis {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 99999999 !important;
  background: #36383f !important;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
    Sans-Serif !important;
  -webkit-appearance: none !important;
  font-size: 14px !important;
  text-shadow: none !important;
  line-height: 1.2 !important;
  display: inline-block !important;
  outline: 0 !important;
  padding: 5px 10px !important;
  border-radius: 3px !important;
  border: 3px solid transparent !important;
  color: white !important;
  cursor: pointer !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  text-decoration: none !important;
  text-align: center !important;
  font-weight: normal !important;
}
btnAnalysis:hover {
  background: #4e505a;
}
